{% extends 'layouts/admin.html.twig' %}

{% block title %} Portada {% endblock %}

{% block main %}

<div class="m-6 p-4">
    <h1>PRUEBAS DE DQL 15</h1>
    <div class="row">
        <h2 class="p-2 m-4 font-weight-bold">ACTORES: CALCULO EDAD DQL </h2>
        <details class="collapse-panel mw-full"> 
            <summary class="collapse-header">
                SELECT con CALCULO DE DATES DATE_DIFF:
            </summary>
            <div class="collapse-content">
               <ul class="m-4">
                   {% for actor in actors %}
                        <li class="font-weight-bold"> 
                            Actor :{{ actor.nombre }}
                            con edad {{ actor.edad }} actualmente
                        </li>
                    {% endfor %}
               </ul>
                <hr>
            </div>
        </details>
    </div>
</div>
{% endblock %}
