{% extends 'layouts/admin.html.twig' %}

{% block title %} Portada {% endblock %}

{% block main %}

<div class="m-6 p-4">
    <h1>PRUEBAS DE DQL 6</h1>
    <div class="row">
        <h2 class="p-2 m-4 font-weight-bold">ACTORES: BETWEEN </h2>
        <details class="collapse-panel mw-full"> 
            <summary class="collapse-header">
                SELECT con fechas BETWEEN:
            </summary>
            <div class="collapse-content">
               <ul class="m-4">
                {% for actor in actors %}
                    <li class="font-weight-bold">{{ actor }}</li>
                {% endfor %}
               </ul>
                <hr>
            </div>
        </details>
    </div>
</div>
{% endblock %}
