{% extends 'layouts/base.html.twig' %}

{% block title %}Todas las peliculas{% endblock %}

{% block main %}
  <style>
      .example-wrapper { margin: 1em auto; max-width: 1200px; width: 95%; font: 18px/1.5 sans-serif; }
      .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
  </style>
    <div class="example-wrapper">
        {# <div class="d-flex flex-row justify-content-center mb-6 mt-0">
          {% include 'movie/searchform.html.twig' %}
        </div> #}
        <div class="d-flex flex-row justify-content-between align-items-center m-2 p-2">
          {# Crear variable en Twig #}
          {% set ruta = 'all_movies' %}
            <a href=" {{ path ( 'movie_create' )}}"><button class="btn btn-primary">AÑADIR NUEVA PELICULA</button></a>
          {% if totalPaginas > 1 %}
            {% include('components/pagination.html.twig') %}
          {% endif %}	
        </div>


      <!-- ejemplo de como añadir un modal al proyecto -->
      {# <a href="#modal-2" class="btn btn-primary" role="button">Ejemplo de modal</a> #}
        {% if pelis %}
          {% include 'movie/includes/lista_movies.html.twig' %}
            <div class="d-flex flex-wrap justify-content-center m-2 p-2"> 
              {% if totalPaginas > 1 %}
                {% include('components/pagination.html.twig') %}
              {% endif %}
            </div>
        {% else %}
          <div class="p-4 m-4 alert alert-danger" role="alert">
              <h4 class="alert-heading">No hay películas en la DB con ese término de búsqueda</h4>
          </div>
        {% endif %}
    </div>
{% endblock %}
