{% extends 'email/layouts/baseemail.html.twig' %}

{% block title %}
    Envio de mails
{% endblock %}

{% block main %}
    <!-- Display flex -->
    <div class="d-flex">
    MAIL DE CONTACTO
    </div>
    <!-- Dispaly inline-flex -->
    <div class="d-inline-flex">
        <h1>email de contacto</h1>
    </div>

{% endblock %}