{% extends 'layouts/base.html.twig' %}

{% block title %} Portada {% endblock %}

{% block main %}

<div class="container-fluid m-4 p-4">
    <div class="row m-2 p-2">
        <h1 class="font-weight-bold uppercase">Cosas que vamos haciendo en el proyecto</h1>        
    </div>

    <div class="row m-2 p-2">
        <h2 class="font-weight-bold uppercase m-4">CONFIGURACION 05</h2>
        <h3 class="m-4">Entornos</h3>
        <ul class="m-4">
            <li>Los ficheros de configuración</li>
            <li>Parámetros de configuración.</li>
            <li>Configurar paquetes</li>
            <li>Configuración por entorno</li>            
        </ul>
    </div>
    <div class="row m-2 p-2">
        <h2 class="font-weight-bold uppercase m-4">CONFIGURACION 05</h2>
        <h3 class="m-4">Formatos de configuración</h3>
        <ul class="m-4">
            <li>El formato Yaml</li>
            <li>DotEnv</li>
            <li>Variables de entorno</li>
        </ul>
    </div>
    <div class="row m-2 p-2">
        <h2 class="font-weight-bold uppercase m-4">CONFIGURACION 06</h2>
        <h3 class="m-4">Secretos</h3>
        <ul class="m-4">
            <li>Debug Mode</li>
            <li>Creacion entornos</li>
            <li>Secretos</li>
        </ul>
    </div>
    <div class="row m-2 p-2">
        <h2 class="font-weight-bold uppercase m-4">ENTIDADES Y MIGRACIONES 07</h2>
        <h3 class="m-4">CONFIGURACION DB</h3>
        <ul class="m-4">
            <li>Configuracion packages/doctrine.yaml</li>
            <li>Configuracion .env</li>
            
            <li>Comandos Doctrine</li>
            <ul>
                <li>php bin/console doctrine:database:create</li>
                <li>php bin/console list doctrine</li>
                <li>php bin/console make:entity</li>
                <li>php bin/console doctrine:migrations:migrate</li>
                <li>php bin/console make:entity --regenerate -overwrite</li>
            </ul>
            <li>Entidades</li>
            <li>Migraciones</li>
        </ul>
    </div>
    <div class="row m-2 p-2">
        <h2 class="font-weight-bold uppercase m-4">CRUD 08</h2>
        <h3 class="m-4">CONFIGURACION DB</h3>
        <ul class="m-4">            
            <li>Comandos</li>
            <ul>
                <li>php bin/console make:controller PeliculaController</li>
            </ul>
            <li>GENERA METODO <code class="code">index()</code></li>
            <li>Migraciones</li>
        </ul>
    </div>
    <div class="row">
        La función path()
    </div>
    <div class="row">
    Solapamiento de rutas. distintas maneras de evitarlo
    </div>
    <div class="row">
        <ul>
        <li> <code class="code">/pelicula/create/</code> entraría por el método <code class="code">show()</code> 
        y tomaría el id como
        </li>
        <li>Esto también se puede resolver haciendo que la ruta para
            <code class="code">pelicula_show</code> sea <code class="code">/pelicula/show/{id}</code> o hilando fino con los tipos de
            los parámetros (vigilando que sea un entero).
    </ul>
    </div>
    <div class="row">
         <code class="code">composer require symfony/form</code>
    </div>
</div>

{% endblock %}
