{% extends 'layouts/base.html.twig' %}

{% block title %} Portada {% endblock %}

{% block main %}

<div class="container-fluid">
    <div class="row">
        <h2>Cosas que vamos haciendo en el proyecto</h2>        
    </div>
    <div class="row">
        La función path()
    </div>
    <div class="row">
    Modifica las rutas de la plantilla base y de la vista de portada para
    usar la función asset() en todas las rutas a recursos externos
    (también en las imágenes).
    </div>
    <div class="row">
    Solapamiento de rutas. distintas maneras de evitarlo
    </div>
</div>

{% endblock %}
